<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ClinicaMedicala</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>pkg.Servlets.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>pkg.Servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContNou</display-name>
    <servlet-name>ContNou</servlet-name>
    <servlet-class>pkg.Servlets.ContNou</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContNou</servlet-name>
    <url-pattern>/ContNou</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaMedic</display-name>
    <servlet-name>ModificaMedic</servlet-name>
    <servlet-class>pkg.Servlets.ModificaMedic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaMedic</servlet-name>
    <url-pattern>/ModificaMedic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditeazaSpecialitati</display-name>
    <servlet-name>EditeazaSpecialitati</servlet-name>
    <servlet-class>pkg.Servlets.EditeazaSpecialitati</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditeazaSpecialitati</servlet-name>
    <url-pattern>/EditeazaSpecialitati</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProgramariAnalize</display-name>
    <servlet-name>ProgramariAnalize</servlet-name>
    <servlet-class>pkg.Servlets.ProgramariAnalize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramariAnalize</servlet-name>
    <url-pattern>/ProgramariAnalize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProgramariConsultatie</display-name>
    <servlet-name>ProgramariConsultatie</servlet-name>
    <servlet-class>pkg.Servlets.ProgramariConsultatie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramariConsultatie</servlet-name>
    <url-pattern>/ProgramariConsultatie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaPacient</display-name>
    <servlet-name>ModificaPacient</servlet-name>
    <servlet-class>pkg.Servlets.ModificaPacient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaPacient</servlet-name>
    <url-pattern>/ModificaPacient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnuleazaProgramare</display-name>
    <servlet-name>AnuleazaProgramare</servlet-name>
    <servlet-class>pkg.Servlets.AnuleazaProgramare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnuleazaProgramare</servlet-name>
    <url-pattern>/AnuleazaProgramare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContPacient</display-name>
    <servlet-name>ContPacient</servlet-name>
    <servlet-class>pkg.Servlets.ContPacient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContPacient</servlet-name>
    <url-pattern>/ContPacient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContMedic</display-name>
    <servlet-name>ContMedic</servlet-name>
    <servlet-class>pkg.Servlets.ContMedic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContMedic</servlet-name>
    <url-pattern>/ContMedic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalizareProgCons</display-name>
    <servlet-name>FinalizareProgCons</servlet-name>
    <servlet-class>pkg.Servlets.FinalizareProgCons</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalizareProgCons</servlet-name>
    <url-pattern>/FinalizareProgCons</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContReceptioner</display-name>
    <servlet-name>ContReceptioner</servlet-name>
    <servlet-class>pkg.Servlets.ContReceptioner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContReceptioner</servlet-name>
    <url-pattern>/ContReceptioner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateCont</display-name>
    <servlet-name>DateCont</servlet-name>
    <servlet-class>pkg.Servlets.DateCont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateCont</servlet-name>
    <url-pattern>/DateCont</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delogare</display-name>
    <servlet-name>Delogare</servlet-name>
    <servlet-class>pkg.Servlets.Delogare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delogare</servlet-name>
    <url-pattern>/Delogare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdaugaServiciuMedic</display-name>
    <servlet-name>AdaugaServiciuMedic</servlet-name>
    <servlet-class>pkg.Servlets.AdaugaServiciuMedic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdaugaServiciuMedic</servlet-name>
    <url-pattern>/AdaugaServiciuMedic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificareServiciuMedic</display-name>
    <servlet-name>ModificareServiciuMedic</servlet-name>
    <servlet-class>pkg.Servlets.ModificareServiciuMedic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificareServiciuMedic</servlet-name>
    <url-pattern>/ModificareServiciuMedic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdaugaZiLibera</display-name>
    <servlet-name>AdaugaZiLibera</servlet-name>
    <servlet-class>pkg.Servlets.AdaugaZiLibera</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdaugaZiLibera</servlet-name>
    <url-pattern>/AdaugaZiLibera</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZileProgramMedic</display-name>
    <servlet-name>ZileProgramMedic</servlet-name>
    <servlet-class>pkg.Servlets.ZileProgramMedic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZileProgramMedic</servlet-name>
    <url-pattern>/ZileProgramMedic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdaugaProgramMedic</display-name>
    <servlet-name>AdaugaProgramMedic</servlet-name>
    <servlet-class>pkg.Servlets.AdaugaProgramMedic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdaugaProgramMedic</servlet-name>
    <url-pattern>/AdaugaProgramMedic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriiAnalize</display-name>
    <servlet-name>CategoriiAnalize</servlet-name>
    <servlet-class>pkg.Servlets.CategoriiAnalize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriiAnalize</servlet-name>
    <url-pattern>/CategoriiAnalize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaProgramMedic</display-name>
    <servlet-name>ModificaProgramMedic</servlet-name>
    <servlet-class>pkg.Servlets.ModificaProgramMedic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaProgramMedic</servlet-name>
    <url-pattern>/ModificaProgramMedic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VizualizareProgramari</display-name>
    <servlet-name>VizualizareProgramari</servlet-name>
    <servlet-class>pkg.Servlets.VizualizareProgramari</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VizualizareProgramari</servlet-name>
    <url-pattern>/VizualizareProgramari</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdaugaAnalize</display-name>
    <servlet-name>AdaugaAnalize</servlet-name>
    <servlet-class>pkg.Servlets.AdaugaAnalize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdaugaAnalize</servlet-name>
    <url-pattern>/AdaugaAnalize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RezultatAnalize</display-name>
    <servlet-name>RezultatAnalize</servlet-name>
    <servlet-class>pkg.Servlets.RezultatAnalize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RezultatAnalize</servlet-name>
    <url-pattern>/RezultatAnalize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreazaPDFIstoric</display-name>
    <servlet-name>CreazaPDFIstoric</servlet-name>
    <servlet-class>pkg.Servlets.CreazaPDFIstoric</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreazaPDFIstoric</servlet-name>
    <url-pattern>/CreazaPDFIstoric</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreazaPDFRezultatAnaliza</display-name>
    <servlet-name>CreazaPDFRezultatAnaliza</servlet-name>
    <servlet-class>pkg.Servlets.CreazaPDFRezultatAnaliza</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreazaPDFRezultatAnaliza</servlet-name>
    <url-pattern>/CreazaPDFRezultatAnaliza</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdaugaIndicator</display-name>
    <servlet-name>AdaugaIndicator</servlet-name>
    <servlet-class>pkg.Servlets.AdaugaIndicator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdaugaIndicator</servlet-name>
    <url-pattern>/AdaugaIndicator</url-pattern>
  </servlet-mapping>
</web-app>